{% extends "base.html" %}


{% block title %}ShopKart{% endblock title %}

{% block content %}
<div class="container-fluid">
<div class="row">

    <div class="col-lg-8 m-3">
    <div class="row">
    {% for x in items %}

        <div class="card">
        <div class="card-header">
            Cart Details
        </div>
        <div class="card-body">
            <h5 class="card-title">{{x.product.product_name}}</h5>
             <img src="{{x.product.image.url}}" alt="" style="height:200px">
             <p class="card-text fw-medium">Product price : {{x.product.price}}/-</p>

             <p class="card-text fw-medium">Quantity : 
             <a href="/updateqty/0/{{x.product.id}}"><button class="btn btn-primary btn-sm">-</button></a>
             <input type="text" size="2" value="{{x.quantity}}" readonly>
             <a href="/updateqty/1/{{x.product.id}}"><button class="btn btn-primary btn-sm">+</button></a>
             </p>

              <a href="/remove_product/{{x.product.id}}" class="btn btn-primary btn-sm">Remove</a>
               <a href="/add_wishlist/{{x.product.id}}" class="btn btn-warning btn-sm">Move to Wishlist</a>

            
        </div>
        </div>
        {% empty %}

        <div class="card">
        <div class="card-header">
            Cart Details
        </div>
        <div class="card-body" style="height:200px">
            
            <h5 class="text-secondary text-center mt-5">Your Card is Empty</h5>
            
        </div>
        </div>
        
        {% endfor %}
    </div>
    
    </div>
    {% comment %} ===================================== {% endcomment %}
        
    {% if items %}
    <div class="col-lg-3 mt-3">
        <div class="row">
           <h5 class="text-center">Total</h5>
            <p class="text-primary fs-6"><strong>Total Items ({{total_product}})</strong></p>
            <hr>
            <p><strong>Total Amount : {{total}}/-</strong></p>
  
            
  
            <a href="{% url 'address' %}"><button class="btn btn-success">Place Order</button></a>
            
              
          </div>
      
      </div>
     
    {% endif %}
     

</div>

</div>

{% endblock content %}