{% extends "base.html" %}
{% block title %}ShopKart-About{% endblock title %}
{% block content %}
<h5>Order  Page</h5>
<div class="container-fluid">
<div class="row">
    <table class="table table-border">
    <tr>
        <th>Sr.no</th>
        <th>Order id</th>
        <th>Product</th>
        <th>Qty</th>
        <th>Price</th>
        <th>Order Date</th>
        
    </tr>
{% for i in allorders  %}
      <tr>
        <td>{{forloop.counter}}</td>
        <td>{{i.order_id}}</td>
        <td>{{i.product}}</td>
        <td>{{i.quantity}}</td>
        <td>{{i.product.price}}</td>
        <td>{{i.order_date}}</td>
      </tr>
{% endfor %}
</table>

</div>
</div>
{% endblock content %}